.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #696969;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 500;
  color: #1c1c1c;
}

.form-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #e23744;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-btn:hover {
  background-color: #c32d39;
}

.divider {
  margin: 24px 0;
  color: #828282;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #e0e0e0;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.social-login-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px;
  margin-bottom: 16px;
  transition: background-color 0.2s;
}

.social-login-btn:hover {
  background-color: #f8f8f8;
}

.social-login-btn i {
  font-size: 18px;
  color: #e23744;
}

.signup-link {
  font-size: 14px;
  color: #363636;
  cursor: pointer;
}


.login-link a{
  cursor: pointer;
  color: #de0f0f;
}


.phone-input-container {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin-bottom: 16px;
  overflow: hidden; /* To keep child border-radius */
}

.country-code-selector {
  padding: 1px;
  background-color: #f8f8f8;
  border-right: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #363636;
}

.phone-number-input {
  border: none;
  flex-grow: 1;
  margin-bottom: 0;
  border-radius: 0 6px 6px 0;
}
